/* border */
.border-none {
  border: 0;
}
    
.border {
  border: solid 1px#e5e5e5;
}

.border-left {
  border-left: solid 1px#e5e5e5;
}

.border-right {
  border-right: solid 1px#e5e5e5;
}

.border-top {
  border-top: solid 1px#e5e5e5;
}

.border-bottom {
  border-bottom: solid 1px#e5e5e5;
}

.border-none {
  border: 0;
}

.border-left-none {
  border-left: 0;
}
.border-right-none {
  border-right: 0;
}

.border-top-none {
  border-bottom: 0;
}

.border-bottom-none {
  border-bottom: 0;
}

/* margin */
.margin-none {
  margin: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-xs {
  margin-top: 1px;
}

.margin-top-sm {
  margin-top: 2px;
}

.margin-top-md {
  margin-top: 4px;
}

.margin-top-lg {
  margin-top: 8px;
}

.margin-top-xl {
  margin-top: 15px;
}

.margin-right-xs {
  margin-right: 1px;
}

.margin-right-sm {
  margin-right: 2px;
}

.margin-right-md {
  margin-right: 4px;
}

.margin-right-lg {
  margin-right: 8px;
}

.margin-right-xl {
  margin-right: 15px;
}

/* padding */
.padding-none {
  padding: 0;
}

.padding-xs {
  padding: 1px;
}

.padding-sm {
  padding: 2px;
}

.padding-md {
  padding: 4px;
}

.padding-lg {
  padding: 8px;
}

.padding-xl {
  padding: 15px;
}

.padding-top-xs {
  padding-top: 1px;
}

.padding-top-sm {
  padding-top: 2px;
}

.padding-top-md {
  padding-top: 4px;
}

.padding-top-lg {
  padding-top: 8px;
}

.padding-top-xl {
  padding-top: 15px;
}

.padding-bottom-xs {
  padding-bottom: 1px;
}
.padding-bottom-sm {
  padding-bottom: 2px;
}
.padding-bottom-md {
  padding-bottom: 4px;
}
.padding-bottom-lg {
  padding-bottom: 8px;
}
.padding-bottom-xl {
  padding-bottom: 15px;
}

.padding-left-xs {
  padding-left: 1px;
}

.padding-left-sm {
  padding-left: 2px;
}

.padding-left-md {
  padding-left: 4px;
}

.padding-left-lg {
  padding-left: 8px;
}

.padding-left-xl {
  padding-left: 15px;
}

.padding-right-xs {
  padding-right: 1px;
}

.padding-right-sm {
  padding-right: 2px;
}

.padding-right-md {
  padding-right: 4px;
}

.padding-right-lg {
  padding-right: 8px;
}

.padding-right-xl {
  padding-right: 15px;
}

/* width */
.width-xs {
  width: 75px;
}

.width-sm {
  width: 150px;
}

.width-md {
  width: 250px;
}

.width-lg {
  width: 500px;
}

.width-xl {
  width: 750px;
}

/* misc */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.vertical-align-top {
  vertical-align: top;
}

a[disabled], a[disabled]:hover {
   pointer-events: none;
   color: lightgray;
}

/* card */
/*
.card {
  width: 192px;
  height: 400px;
}

.img-container {
  width: 192px;
  height: 200px;
  line-height: 200px;
}

*/

.card {
  width: 230px;
  height: 380px;
}

.img-container {
  width: 220px;
  height: 200px;
  line-height: 200px;
}

.img-container img {
  vertical-align: middle;
}

.form-control select {
  height: 40px 
}

.listbox > .block {
  width: 200px;
}

:required,
:focus:invalid {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIx NiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiI+CiAgPHBhdGgg ZD0iTTE0OTAgMTMyMnEwIDQwLTI4IDY4bC0xMzYgMTM2cS0yOCAyOC02OCAyOHQt NjgtMjhsLTI5NC0yOTQtMjk0IDI5NHEtMjggMjgtNjggMjh0LTY4LTI4bC0xMzYt MTM2cS0yOC0yOC0yOC02OHQyOC02OGwyOTQtMjk0LTI5NC0yOTRxLTI4LTI4LTI4 LTY4dDI4LTY4bDEzNi0xMzZxMjgtMjggNjgtMjh0NjggMjhsMjk0IDI5NCAyOTQt Mjk0cTI4LTI4IDY4LTI4dDY4IDI4bDEzNiAxMzZxMjggMjggMjggNjh0LTI4IDY4 bC0yOTQgMjk0IDI5NCAyOTRxMjggMjggMjggNjh6IiBmaWxsPSJwaW5rIi8+Cjwv c3ZnPg==');
  background-position: right 18px top 9px;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}

:required:valid {
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNzkyIDE3 OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0i TTE2NzEgNTY2cTAgNDAtMjggNjhsLTcyNCA3MjQtMTM2IDEzNnEtMjggMjgtNjgg Mjh0LTY4LTI4bC0xMzYtMTM2LTM2Mi0zNjJxLTI4LTI4LTI4LTY4dDI4LTY4bDEz Ni0xMzZxMjgtMjggNjgtMjh0NjggMjhsMjk0IDI5NSA2NTYtNjU3cTI4LTI4IDY4 LTI4dDY4IDI4bDEzNiAxMzZxMjggMjggMjggNjh6IiBmaWxsPSJ5ZWxsb3dncmVl biIvPjwvc3ZnPg==');
  background-position: right 18px top 9px;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}

/*

window-inactive

::-moz-selection {
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}*/